#wall .tag-1 {
  display: none;
}

div#wall #tag-2 {
  display: none;
}

#wall #tag-2 + #tag-3 {
  display:none;
}

#wall .parent #tag-4 {
  display: none;
}

div#wall .parent + .parent #tag-5.slick {
  display: none;
}



/*#wall .tag-1 + #tag-2 {*/
/*  display: none;*/
/*}*/

/*.parent #tag-4 {*/
/*  display: none;*/
/*}*/


/*#tag-5 {*/
/*  display: none;*/
/*}*/

/*#tag-6 {*/
/*  display: none;*/
/*}*/

/*#tag-7 {*/
/*  display: none;*/
/*}*/

